<div class="icon-grid">

    {{#each pics}}
        <img 
            src="{{rewrite path}}/{{name}}" 
            alt="{{name}}" 
            data-width="{{dims.width}}" 
            data-height="{{dims.height}}"
            {{widOrhit dims.width dims.height}}="200px"
            class="item item-icon"
            onClick="openPic('/window{{rewrite path}}/{{name}}', '{{name}}', {{dims.width}}, {{dims.height}})"
        >
    {{/each}}

</div>

<script>
    function openPic(path, name, width, height) {
        const strWindowFeatures = `menubar=no,toolbar=no,location=no,resizable=yes,scrollbars=yes,status=no,height=${height+5},width=${width+5}`
        windowObjRef = window.open(path, name, strWindowFeatures)
    }
</script>
